.cproject
.depend
.project
.settings/
*.o
stockfish
src/stockfish.js.map
src/stockfish.js.mem
node_modules/
*~
etc/
merged_data.json
example/
src/*.cpp
src/*.h
src/post.js
src/pre.js
src/Makefile
.gitignore
build.sh
clean.sh
create_branch_at.js
engine-interface.txt
merged_data.json
rolling_merge.js
startup_tester.js
tester.js
test_load_engine.js
